body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #e3e3e3;
  text-shadow: 0px 0px 10px black;
  margin-top: 60px;
}
