$color-1: rgb(27, 166, 204);
$color-2: rgb(24, 155, 167);
$color-3: rgb(152, 198, 174);
$color-4: rgb(69, 162, 112);
$color-5: rgb(124, 179, 37);
$color-6: rgb(235, 152, 38);
$color-7: rgb(216, 84, 31);
$color-8: rgb(212, 12, 69);
$color-9: rgb(207, 109, 144);
$color-10: rgb(152, 10, 88);
$color-11: rgb(218, 86, 95);
$color-12: rgb(117, 68, 129);
$color-13: rgb(193, 16, 103);
